body{ 
    background-image:url("../img/background.jpg"); 
    background-repeat:no-repeat; 
    background-position:center; 
    padding:10px;
}

body{
    background: #085078; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #085078, #85d8ce); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #085078, #85d8ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.background{
    background:rgba(255,255,255,0.79);
    padding:2em;
    margin-top:4em;
    border-radius: 5px;
}

#title-text{
    border-top: 1px solid #808080;
    padding-top:1em;
}

#title, #title-text{
    margin-bottom:1em;

}